<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000635454383-hjtc4rdvp0nsjuokmqk6d7rbsa1n5nuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000635454383-hjtc4rdvp0nsjuokmqk6d7rbsa1n5nuk</string>
	<key>API_KEY</key>
	<string>AIzaSyClL6flG5s8Yd6_J5gDr9jlGhYcWJEPcC8</string>
	<key>GCM_SENDER_ID</key>
	<string>1000635454383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Camera.test</string>
	<key>PROJECT_ID</key>
	<string>camera-798b0</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-798b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000635454383:ios:c6a67c463f9d1e70ae555a</string>
	<key>DATABASE_URL</key>
	<string>https://camera-798b0.firebaseio.com</string>
</dict>
</plist>